/* Color Variables */
body {
    --airtimeIconHover: #00abff;
    --commentActions: #585858;
}
/* Link Account title */
.airtime-linking-account-title{
    text-transform: uppercase;
    color: var(--mainColor);
    font-weight: 700;
    font-size: 13px;
    margin-top: 55px;
    margin-bottom: 30px;
}
.airtime-linkAccount-content{
    min-height: 100px;
}
/* Link Account button */
#airtime-linking-account-btn .am-linkaccount-button{
    cursor: pointer !important;
}

.am-linkaccount-button .am-linkaccount-text.enabled{
    color: var(--mainForegroundColor) !important;
}
.airtime-linking-extra-links-with-icon{
    padding: 10px 0px;
    font-size: 16px;
    font-weight: 400;
    word-break: break-word;
    text-decoration: none;
    color: var(--mainForegroundColor);
}
.airtime-linking-extra-links-with-icon span{
    margin-left: 10px;
}
.airtime-linking-extra-links-with-icon:hover{
    text-decoration: none;
    color: var(--mainForegroundColor);
}
.airtime-linking-extra-links-with-icon svg{
    height: auto;
    width: 32px;
    fill: var(--mainForegroundColor);
}
.airtime-linking-extra-links-with-icon svg path{
    fill: var(--mainForegroundColor);
}
.airtime-linking-extra-links-with-icon-div{
    margin-top: 20px !important;
}
/* Link Account icon */
.airtime-linking-extra-links-with-icon:hover #Pfad_936,
.airtime-linking-extra-links-with-icon:hover .cls-3{
    fill: var(--airtimeIconHover) !important;
}
/* Link Account tooltip */
.am-linkaccount-button .details{
    top: 34px;
    left: 140px;
}
/* Airtime Module icon */
#am-PoweredByBitTubeContainer div svg{
    height: 24px !important;
}
.am-linkaccount-button{
    display: inline-flex !important;
}
.am-linkaccount-text{
    padding: 4px 20px 0px 10px;
    font-size: 16px;
    font-weight: 400;
    word-break: break-word;
}

/* Airtime install extension suggest blue header */
.airtime-install-extension-suggestion-header{
    position: fixed;
    width: 100%;
    height: 30px;
    background: #fff;
    z-index: 2;
    background-color: #00ABFF;
    z-index: 100;
    left: 0px;
}
.airtime-message-top-header{
    position: relative;
    float: left;
    left: 27px;
    top: 6px;
    color: #ffffff;
}
.airtime-message-top-header a{
    color: #ffffff8f;
    outline: none;
    text-decoration: none;
}
.airtime-close-top-header{
    position: relative;
    float: right;
    top: 5px;
    margin-right: 15px;
    color: #ffffff;
}
.airtime-close-top-header img{
    width: 10px;
    height: 10px;
    cursor: pointer;
}

.airtime-header-top-distance{
    top: 30px !important;
}
.airtime-body-margin-top{
    margin-top: 80px;
}

/* Left-menu footer icons */
.airtime-footer-padding{
    padding-bottom: 45px !important;
}

/* Donation button (video) */
.p_donateTubes{
    padding: 4px 15px 0px 15px;
    text-align: center;
    /* color: #66757f; */
    cursor: pointer !important;
    display: inline-block;
    margin-top: -4px;
    border: none;
}
.p_donateTubes .am-donate-main{
    min-height: 30px !important;
    cursor: pointer !important;
}
.p_donateTubes .am-donate-main .button{
    height: auto !important;
    padding: .25rem .5rem !important;
    /* padding-right: 4px !important; */
    cursor: pointer !important;
    border-radius: 3px !important;
    border: none !important;
    font-family: "Source Sans Pro",sans-serif !important;
    font-weight: 600;
    background-color: var(--mainColor) !important;
}
.p_donateTubes .am-donate-main .button svg{
    display: none !important; /* Hide annoying hearth */
}
.p_donateTubes .am-donate-main .donation-amount svg{
    height: 13px !important;
    width: 20px !important;
    display: inline-block;
    margin-top: -2px;
    cursor: pointer !important;
}
.donation-details-icon{
    top: 0px !important;
}
.donation-donate-text{
    /* display: inline-block; */
    text-transform: capitalize !important;
    font-size: 15px !important;
}

/* Donate button for comments */
.p_donateTubes.donateToComment{
    padding: 0;
    margin: 0;
    margin-right: 10px;
}
.p_donateTubes.donateToComment .am-donate-main{
    min-height: unset !important; 
}
.p_donateTubes.donateToComment .am-donate-main .button{
    height: auto !important;
    font-size: 15px !important;
    padding: 0px !important;
    padding-right: 2px !important;
    border: none !important;
    background-color: transparent !important;
    color: var(--commentActions);
    line-height: 1.5;
    font-family: "Source Sans Pro",sans-serif !important;
    font-weight: 400;
}
.p_donateTubes.donateToComment .am-donate-main .button:hover{
    color: var(--mainForegroundColor);
}
.p_donateTubes.donateToComment .am-donate-main .button svg:not(.donation-details-icon){
    fill: var(--commentActions);
    margin-top: -4px;
}
.p_donateTubes.donateToComment .am-donate-main .donation-info svg.donation-details-icon{
    /* fill: var(--commentActions); */
    margin-top: -4px;
}

/* MOBILE MEDIA QUERIES */
@media (max-width: 500px){
    .airtime-install-extension-suggestion-header{
        height: 45px;
    }
    .airtime-header-top-distance{
        top: 45px !important;
    }
    .airtime-body-margin-top{
        margin-top: 95px;
    }
    menu .top-menu{
        max-height: calc(100% - 35px);
    }
    .airtime-closed-footer-padding{
        padding-bottom: 60px !important;
    }
    .airtime-close-top-header {
        top: -10px;
    }
    .info-circle-animated-BT,
    .am-PoweredByBitTube{
        display: none;
    }
}